/* App.css */
.App {
  text-align: center;
}

body {
  background-color: #010020;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #f5f5f5;
  text-shadow: 2px 2px 4px #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.controls {
  width: 400px;
  text-align: left;
}

.svg-container {
  width: 100%; /* Volledige breedte van de container */
  width: 600px; /* Maximale breedte */
  height: 600px; /* Maximale hoogte */
  border: 0.1px solid white;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.BG_ellips_control {
  display: flex;
  flex-direction: column;
}
.slider-container {
  width: 80%;
  margin: 50px auto;
}

.slider {
  width: 100%;
  padding: 20px;
}

#slider-value {
  display: block;
  margin-top: 10px;
}

.button {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 1rem;
}

