*{
  font-family:  'Roboto', sans-serif;
 
}

.nav_link_wrapp{
  display: flex;
 justify-content: space-between;
  padding: 10px;

 
}
.all_links{
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: steelblue;
   text-align: center;
   align-items: center;
}

a:has(article) {
  color: inherit;
}



.navlink,
.logout-button {
  padding: 10px;

  text-decoration: none;
  color: inherit;
 
}

.navlink.active,
.logout-button:hover {
  color: #555;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.logout-button {
 background-color: lightblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
}


button {
   background-color: lightblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-weight: bold;
}
