.nav_link_wrapp{
  display: flex;
 justify-content: space-between;
  padding: 10px;
  text-align: center;
}
.all_links{
  display: flex;
}

a:has(article) {
  color: inherit;
}

/* styles.css */
.navlink,
.logout-button {
  padding: 10px;
  color: #555;
  text-decoration: none;
  color: inherit;
}

.navlink.active,
.logout-button:hover {
  color: white;
  font-weight: bold;
}

.logout-button {
 background-color: lightblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
}

